<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>




</head>
<body>

<!--LIST VIEW-->
<div th:fragment="list_view" class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between align-items-center filters">
                <h6 th:text="${#lists.size(packetList) + ' Paketa te shfaqura'}"></h6>
                <div class="right-sort">
                    <div class="sort-by">
                        <span class="mr-1">Shfaq :</span>
                        <a th:href="@{/packet/offer}">Ofertat</a>
                        <i class="fa fa-angle-down ml-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- card start -->
    <section class="wrapper">
        <div class="container-fostrap">

            <div class="slider-item">
                <div >
                    <img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png" class="fostrap-logo" />
                    <h1 class="heading">Paketat e Mija</h1>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="row">

                            <div th:each="packet:${packetList}" class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <a class="img-card" >
                                        <img th:src="*{'data:image/jpeg;base64,'+{packet.city.image}}"  alt="...">
                                    </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a th:text="${packet.city.name}"></a>
                                        </h4>
                                        <p class="" th:text="${packet.description}"></p>
                                    </div>
                                    <div class="card-read-more">
                                        <a class="btn btn-link btn-block" th:href="@{'/packet/profile/' + ${packet.id}}">Shiko Me Shume</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<!--CARD-->
<div class="card m-1">
    <img th:src="*{'data:image/jpeg;base64,'+{packet.city.image}}"  class="card-img-top" style="height: 400px; width: 500px;" alt="Fissure in Sandstone"/>
    <div class="card-body">
        <h5 class="card-title" th:text="${packet.city.name}">Card title</h5>
        <p class="card-text" th:text="${packet.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-primary" th:href="@{'/packet/profile/' + ${packet.id}}">Shiko Me Shume</a>
    </div>
</div>


<div class="row justify-content-start">
    <div class="col-4">
        <div class="container-fluid">
            <section class=" my-5" style="max-width: 23rem;">
                <div th:each="packet:${packetList}" class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img th:src="*{'data:image/jpeg;base64,'+{packet.city.image}}" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">
                            <a th:text="${packet.city.name}">
                            </a>
                        </h5>
                        <ul class="list-unstyled list-inline mb-0">
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"> </i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted">4.5 (413)</p>
                            </li>
                        </ul>
                        <p class="mb-2" th:text="'Kohe Zgjatja ' + ${packet.nrOfDays} + ' Dite'">$ • American, Restaurant</p>
                        <p class="card-text" th:text="${packet.description}">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <hr class="my-4" />
                        <p class="lead">
                            <strong th:if="${packet.isOffer}" th:text="Oferte">Tonight's availability</strong>
                            <strong th:unless="${packet.isOffer}" th:text="Per Momentin Nuk Eshte Oferte">Tonight's availability</strong>
                        </p>
                        <ul class="list-unstyled list-inline d-flex justify-content-between">
                            <li class="list-inline-item me-0">
                                <div class="chip me-0" th:text="'prenotuar ' + ${packet.nrOfTimesBooked} + ' here'">5:30PM</div>
                            </li>
                            <li class="list-inline-item me-0">
                                <div class="chip bg-secondary text-white me-0">7:30PM</div>
                            </li>

                        </ul>
                        <a href="#!" class="btn btn-link link-secondary p-md-1 mb-0">Button</a>
                    </div>
                </div>

            </section>
        </div>
    </div>

</div>

</body>
</html>