<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="ISO-8859-1">
	<title>Travel Agency</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>


	<body th:style="'background: url(images/background_1.jpg) no-repeat center center fixed;background-size: cover;'">
	<!--   NAVBAR -->
	<nav th:replace="common :: main_navbar"></nav>

<!--	MESSAGE FROM BACKEND-->
	<div class="h-4 text-center">
		<h2 th:text="${message}"></h2>
	</div>

	<!--SEARCH BAR-->
	<div class="container">

		<div th:replace="common :: search_bar" >

		</div>
	</div>



		<div th:replace="common :: carousel">

		</div>




	</body>

</html>