<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container text-center">

    <div>
        <h1>Paketat </h1>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>

            <th>Titulli</th>
            <th>Viti</th>
            <th>Shtepia Botuese</th>
            <th>Cmimi</th>
            <th>Autori ose Autoret</th>

        </tr>
        </thead>

        <tbody>
        <th:block th:each="packet : ${packetList}">
            <tr>

                <td>[[${book.title}]]</td>
                <td>[[${book.year}]]</td>
                <td>[[${book.publisher.name}]]</td>
                <td>[[${book.price}]]</td>
                <td>
                    <table>
                        <tr>

                        </tr>
                        <tr th:each="author: ${book.authorList}">
                            <td th:text="${author.name}">id</td>


                        </tr>
                    </table>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div class="text-center m-4">
    <a  class="h2" th:href="@{/books/new}">Shto Liber</a>
</div>

<div class="text-center">
    <a th:href="@{/}">kthehu ne Fillim</a>
</div>

</body>
</html>