<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

    <link rel="stylesheet" href="/assets/css/card_style.css">

</head>

<body>

    <div class="my-slider">
        <div>
            <div class="cardcontainer">
                <div th:each="packet: ${packetList}" class="photo">
                    <img th:src="*{'data:image/jpeg;base64,'+{packet.city.image}}"  alt="...">
                </div>
                <div th:each="packet: ${packetList}" class="content">
                    <p class="txt4" th:text="${packet.city.name}">head</p>
                    <p class="txt5" th:if="${packet.isOffer}">Oferte</p>
                    <p class="txt5" th:unless="${packet.isOffer}" th:text="'Eshte prenotuar ' + ${packet.nrOfTimesBooked}"></p>
                    <p class="txt2" th:text="${packet.description}"></p>
                </div>
                <div class="footer">
                    <p>
                        <a class="waves-effect waves-light btn" href="#">Shiko Me Shume</a>
                        <a id="heart">
                            <span class="like">
                                <i class="fab fa-gratipay"></i>Like
                            </span>
                        </a>
                    </p>
                    <p class="txt3">
                        <i class="far fa-clock">

                        </i>10 Minutes Ago
                        <span class="comments">
                            <i class="fas fa-comments">

                            </i>45 Comments</span>
                    </p>
                </div>
            </div>
        </div>
        <div></div>
        <div></div>
    </div>

<script src="/assets/js/tiny_carousel.js"></script>

</body>
</html>